@font-face {
    font-family: 'sequel'; /* Buraya bir isim verin */
    src: url('Sequel100Black-65.ttf'); /* .ttf dosyasının yolunu ekleyin */
}

@font-face {
    font-family: 'montserrat'; /* Buraya bir isim verin */
    src: url('Montserrat-Bold.ttf'); /* .ttf dosyasının yolunu ekleyin */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'montserrat'; /* Fontu güncelleyerek doğrudan tanımlama */
    margin: 0; /* Varsayılan margin'i sıfırlamak için eklendi */
    background-color: #f4f4f4; /* Arka plan rengi */
}

h1 {
    color: #333;
}

p {
    text-align: center;
}

.button-container {
    display: flex; /* Flexbox kullanımı */
    flex-direction: column; /* Dikey dizme */
    align-items: center; /* Butonları ortalamak için */
    margin-top: 20px;
}

.button {
    padding: 10px 20px; /* Dikey ve yatay padding */
    font-size: 16px; /* Yazı boyutu */
    color: white; /* Yazı rengi */
    background-color: #007bff; /* Buton arka plan rengi */
    border: none; /* Kenar boşluğu yok */
    border-radius: 5px; /* Kenar yuvarlama */
    margin: 10px 0; /* Butonlar arası dikey boşluk */
    cursor: pointer; /* Fare ile üzerine gelindiğinde el simgesi */
    transition: background-color 0.3s ease; /* Hover geçiş efekti */
    font-family: 'montserrat'; /* Buton yazı tipi */
    white-space: nowrap; /* Yazının tek satırda görünmesi için */
}

.button:hover {
    background-color: #0056b3; /* Hover rengi */
}

.download-text {
    font-size: 12px; /* Yazı boyutu küçük */
    margin: 5px 0; /* Yazılar arası boşluk az */
    text-align: center; /* Metni ortalama */
}

.copyright-text {
    text-align: center; /* Copyright metnini ortalama */
    margin-top: 20px; /* Üstte biraz boşluk */
}

.copyright-text > p {
    margin-bottom: 0; /* Alt boşluk yok */
    font-family: 'sequel'; /* Copyright metni yazı tipi */
}

/* Medya Sorguları ile Mobil ve Bilgisayar Görünümü Ayarlamaları */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column; /* Mobilde butonları dikey dizme */
        align-items: center; /* Dikeyde butonları ortalama */
    }
    .button {
        white-space: normal; /* Yazının iki satırda görünmesine izin ver */
        line-height: 1.2; /* Satırlar arası boşluk */
        width: 90%; /* Mobilde buton genişliğini artırma */
        max-width: none; /* Mobilde maksimum genişliği kaldırma */
        margin: 10px 0; /* Mobilde butonlar arası dikey boşluk */
    }
}

@media (min-width: 769px) {
    .button {
        /* Bilgisayarda butonların genişliğini otomatik ayarlama */
        width: auto; /* Genişliği otomatik ayarla */
        max-width: none; /* Maksimum genişliği kaldırma */
    }
    .download-text {
        margin-top: 5px; /* Butonların hemen altında yer alması için üst boşluk */
    }
}
